<header class="container">
    <nav>
        <div class="nav-links">
            <div class="logo-wrapper">
                <a id="logo" class="logo" href="index.html">
                    <img src="/assets/logos/lion-gold.png" alt="">
                    <img src="/assets/logos/trophy.logo.png" alt="">
                </a>
            </div>

            <ul class="nav-links-options">
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item" id="dropdownmenu">

                    <div class="select-btn">
                        <span class="btn-text">Stay with us</span>
                        <img src="/assets/dropdown.svg" alt="" class="chevron">

                    </div>
                    <ul class="submenu">
                        <a href="">Daily Stays</a>
                        <a href="">Monthly Stays</a>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Host with Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Reviews</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="user-authentication-links">
            <a class="create-account-button" href="#">Create an Account</a>
            <a class="login-button" href="#">Login</a>
            <!-- <a class="logout-button" href="#">Logout</a> -->
        </div>
    </nav>
</header>